@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
/* base styles */
body {
  font-family: Silkscreen;
  margin: 0;
  font-size: 2em;
  text-align: center;
  background: #1b1523;
  color: hotpink;
  height: 100vh;
}